@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body {
  background-color: #333333;
}

.main {
  display: flex;
}

.instructions-section {
  margin-left: 5%;
  width: 300px;
  text-align: center;
  // border: 3px solid black;
  border-radius: 10px;
  // background-color: rgba(255, 255, 255, 0.479);
  background-color: #ffffff79;
  font-weight: bold;
  font-size: 36px;
  font-family: Montserrat;
  user-select: none; /* Standard */
}

.inventory-section {
  margin-right: 5%;
  width: 300px;
  text-align: center;
  // border: 3px solid black;
  border-radius: 10px;
  // background-color: rgba(255, 255, 255, 0.479);
  background-color: #ffffff79;
  font-weight: bold;
  font-size: 36px;
  font-family: Montserrat;
  user-select: none; /* Standard */
}

.logo-class {
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  width: 25%;
}

.center-section {
  width: 512px;
  margin: 0 auto;
  padding: 0 1em;
}

.inventory {
  list-style: none;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
