@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat:wght@300&display=swap');

body {
  background-image: url("../src/assets/background.png");
  background-size: cover;
  background-color: #D3C0CD;
}

.main {
  display: flex;
}

.strong {
  font-weight: bold;
}

.title {
  margin-top: 5px;
  font-weight: bold;
  font-size: 36px;
  color: #B9C6AE;
  font-family: Fjalla One;
}

.instructions-section {
  margin-left: 10%;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  background-color: #8A95A5;
  user-select: none; 
  font-size: 36px;
  border-color: white;
  border-width: 5px;
  border: 5px solid #204b576f;
}

.inventory-section {
  margin-right: 10%;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  background-color: #8A95A5;
  user-select: none; 
  font-size: 36px;
  border: 5px solid #204b576f;
}

.inventory-desc {
  height: 25%;
  font-size: 16px;
}

.itemImage {
  margin-top: 5px;
  width: 10%;
  height: 10%;
}

.inventory {
  list-style: none;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  height: 65%;
}

.logo-class {
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  width: 25%;
}

.center-section {
  width: 512px;
  margin: 0 auto;
  padding: 0 1em;
}

.icons {
  margin: 5px;
}

.links {
  margin-top: 4%;
  display: flex;
  justify-content: flex-end;
}

.itemTag {
  display : block;
  position : relative;
  background-color: rgba(255, 255, 255, 0.619);
  width : 13%;
  height : 10%;
  border : 1px solid #000;
  border-radius : 5px;
  margin : 5px;
  cursor : pointer;
}

.hidden {
  display: none;
}